.Gallery {
  width: 100%;
  &__headingWrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 80px;
    &__iconWrapper {
      color: #2736dd;
      font-family: Roboto;
      font-size: 26px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: italic;
      line-height: 1.15;
      letter-spacing: 0.5px;
      display: flex;
      img {
        margin: auto;
        margin-right: 14px;
      }
    }
  }
  &__imgGallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(125px, 1fr));
    gap: 5px;
    img {
      width: 100%;
      margin-bottom: 5px;
      object-fit: cover;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      cursor: pointer;
      &:hover {
        filter: none;
        -webkit-filter: grayscale(0);
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .Gallery {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .Gallery {
    width: 100%;
    &__headingWrapper {
      position: relative;
      width: 100%;
      flex-direction: column;
      gap: 8px;
      padding: 17px 30px;
      &__iconWrapper {
        img {
          margin-top: 5px;
        }
      }
    }
    &__imgGallery {
      grid-template-columns: repeat(2, minmax(156px, 1fr));
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        margin-bottom: 0;
      }
    }
  }
}
